{% extends "base.html" %}

{% block page-title %}
Dashboard
{% endblock page-title %}

{% block content %}

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <!-- Quick Stats Bar -->
       <c-stats.grid />
        <!-- Main Content Grid -->
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <!-- Left Column: Worlds List -->
	    <c-worlds :worlds='[{"name":"World 1", "seed":198767, "game_mode":"Creative", "status":"Active"}, {"name":"World 2", "seed":398767, "game_mode":"Survival", "status":"Archived"}]'/>
            <!-- Right Column: Activity & Quick Actions -->
            <div class="space-y-6">
                <c-side-panel.quick-action />
		<c-side-panel.recent-activity />
                <c-side-panel.active-tasks />
            </div>
        </div>
    </div>

{% endblock content %}
